version: "3.9"

services:
  web:
    build: .
    container_name: flask-portfolio-web
    command: flask run --host=0.0.0.0 --port=5000
    ports:
      - "5001:5000"
    environment:
      DATABASE_URL: postgresql://admin:admin@db:5432/newslytics
      SECRET_KEY: super-secret-key
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: flask-portfolio-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: newslytics
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
